
@media screen and (max-width: 559px) {
  
*{
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x:hidden ;
}
.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "section section"
  "article article "
  "aside aside"
  "footer footer";
}

header{
  grid-area: header;
  display: flex;
  justify-content:center;
  width: 100%;
  height: auto;
  background: linear-gradient(#75d0e6,#32acca);
  position: fixed;
}

.logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem_logo{
  width: 100%;
  height: 30px;
  margin: 10px;
}

.menu, .pesquisa{
  display: none;
}
.navegacao{
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  justify-content: center;
  list-style: none;
}

.navegacao{
  display: none;
}
section{
  grid-area: section;
}

.center{
  width:100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide{
  width: 500%;
  height: 400px;
  display: flex;
}

.itens{
  width: 20%;
  height: 400px;
}

.itens img{
  width: 100%;
}

#imagem1:checked ~ .s1{
  margin-left: 0%;
}

#imagem2:checked ~ .s1{
  margin-left: -20%;
}

#imagem3:checked ~ .s1{
  margin-left: -40%;    
}

#imagem4:checked ~.s1{
  margin-left: -60%;
}

#imagem5:checked ~.s1{
  margin-left: -80%;
}
.slide input{
  display: none;
}


h1{
  text-align: center;
  color: #1da1c2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 20px;
}

h2{
  text-align: center;
  color: #1da1c2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 20px;
}

article{
  grid-area: article;
}
.produtos_horizontal{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.cards{
  width: 200px;
  height: 300px;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  background: linear-gradient(165deg, rgb(136, 175, 226) 50%, rgb(224, 126, 126) 50%);
  /*
  background: linear-gradient(#75d0e6,#1da1c2);
  */
  box-shadow: 0px 0px 10px 0px rgb(197, 210, 212);
  transition: 1s;
  display: block;
  text-align: center;
}

.cards h3{
  color: #ed3f3f;
  background: #333;
  border-radius: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  transition: 1s;
}
.cards:hover > h3{
background: white;
}


.central_trabalho{
  margin: 20px auto;
  width: 300px;
  height: auto;
  border-radius: 10px;
  
  display: block;
}
.texto_imagem{
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 20px;
}

.texto_imagem p {
  margin: 10px;
}
.imagem_texto{
  height: auto;
}

.imagem_texto img{
  width: 100%;
  border-radius: 10px;
}
.formulario {
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #efeaea;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  color: #333333;
  font-size: 22px;
  font-weight: bold;
}

.formulario input[type="text"] {
  width:200px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.formulario  button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background-color: #0056b3;
}

aside{
  grid-area: aside;
  width: 100%;
  height: auto;
}

footer {
  grid-area: footer;
  background-color: #bebdbd;
  width: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
}





@media screen and (min-width:560px) {
  
*{
    margin: 0px;
    padding:0px;
}
body{
  overflow-x:hidden ;
}

.container{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "section section section"
    "article article article"
    "aside aside aside"
    "footer footer footer";
    
}
/*Cabeçalho */
header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background: linear-gradient(#75d0e6,#32acca);
    position: fixed;
}
.logo{
    height: auto;
    width: 150px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_logo{
    width: 200px;
    margin-left: 150px;
}
.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}


.pesquisa{
    width: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .formatacao_input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    font-size: 16px;
  }
  
  /* estilo do botão de pesquisa */
  .botao_pesquisa {
    background: #1da1c2;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .botao_pesquisa:hover{
    background-color: #54b9d2;
    text-decoration: underline;
    color: #fff;
    transition: 0.1s;
  }
  /* estilo do botão de pesquisa ao passar o mouse */
ul {
    list-style: none;
    margin:20px;
    display: flex;
  }

.navegacao{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
  ul li a {
    display: block;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1da1c2;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    transition: 1s;
  }
  
  ul li a:hover {
    background-color: #54b9d2;
    text-decoration: underline;
    color: #fff;
    transition: 0.1s;
  }

nav{
    grid-area: nav;
    width: 100%;
    background: #ccc;
    height: 20px;

}
.responsivo{
    display: none;
    margin-left: -50px;
}

h1{
    text-align: center;
    color: #1da1c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 100px;
}

h2{
  text-align: center;
  color: #1da1c2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin: 20px;
}

/*Final do cabeçalho*/

/*Começo do slide e section*/
section{
  grid-area: section;
  width: 100%;
}
/*div central*/

.center{
    width: 1555.2px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*div interna*/

.slide{
    width: 500%;
    height: 100%;
    display: flex;
}

/*botões de navegação*/
.labels{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:600px;
    left: 450px;
}

.labels_barra{
    width: 80px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.labels_barra:hover{
    opacity: 0.8;
    background: #fff;
}

.slide input{
    display: none;
}

/*divs que contem as imagens*/
 .itens{
    width: 20%;
    transition: 0.6s;
}

.itens img{
    width: 100%;
    height: 800px;
}

#imagem1:checked ~ .s1{
    margin-left: 0%;
}

#imagem2:checked ~ .s1{
    margin-left: -20%;
}

#imagem3:checked ~ .s1{
    margin-left: -40%;    
}

#imagem4:checked ~.s1{
    margin-left: -60%;
}

#imagem5:checked ~.s1{
    margin-left: -80%;
}

article{
    grid-area: article;
}
.produtos_horizontal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.cards{
    width: 200px;
    height: 300px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    background: linear-gradient(165deg, rgb(136, 175, 226) 50%, rgb(224, 126, 126) 50%);
    /*
    background: linear-gradient(#75d0e6,#1da1c2);
    */
    box-shadow: 0px 0px 10px 0px rgb(197, 210, 212);
    transition: 1s;
    display: block;
    text-align: center;
}

.cards h3{
    color: #ed3f3f;
    background: #333;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    transition: 1s;
}
.cards:hover > h3{
  background: white;
}


.central_trabalho{
    width: 100%;
    height: auto;
    margin: 50px auto;
    border-radius: 10px;
    border:1px solid #54b9d2;
    display: flex;
    justify-content: space-around;
}
.texto_imagem{
    width: 50%;
    font-family: Arial, sans-serif;
        font-size: 20px;
        line-height: 1.5;
        color: #333333;
        margin-bottom: 20px;
}

.texto_imagem p {
    margin: 20px;
}
.imagem_texto{
    width: 50%;
    height: auto;
}

.imagem_texto img{
    width: 100%;
}
.formulario {
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #efeaea;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
.formulario label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
    font-size: 22px;
    font-weight: bold;
  }
  
.formulario input[type="text"] {
    width:200px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
.formulario  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.formulario button[type="submit"]:hover {
    background-color: #0056b3;
  }

aside{
    grid-area: aside;
    width: 100%;
    height: auto;
}

footer {
  grid-area: footer;
    background-color: #bebdbd;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
  }
}



  